/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2020, 3:43:21 PM
    Author     : migo2
*/



#AnchorPane{
    -fx-background-color: #2D3E50;
}
#scrollPane{
     -fx-border-color: aquamarine;
    -fx-background-color: #2D3E50;
}
#scrollAnchor{
     -fx-border-color: aquamarine;
    -fx-background-color: #2D3E50;
}
#ScrollPane{
    -fx-border-color: aquamarine;
    -fx-background-color: #3D4E60;
}
#TurnOnServer{
    -fx-border-color: aquamarine;
   -fx-background-color: green; 
}

#TurnOffServer{
    -fx-border-color: aquamarine;
   -fx-background-color: red; 
}

#online{
    -fx-border-color: aquamarine;
   -fx-background-color: #3D4E60; 
}
#score{
    -fx-border-color: aquamarine;
   -fx-background-color: #3D4E60; 
}
#serverMessage{
    
    -fx-background-color: lightgreen;
}
